.tree-root{
    overflow: auto;
}
.tree-children{
    position: relative;
    padding-left: 23px;
}
.tree-font{
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}
.tree-title{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.2s;
   img{
        margin-right: 4px;
   }
}
.tree-title:not(.tree-selected):hover{
    background-color: #eaf4fe;
}
.tree-direction{
    position: absolute;
    left: -13px;
    font-size: 16px;
    top: 50%;
    transform: translate(0,-50%);
}

.tree-children li{
    margin: 6px 0px 3px 0px;
}
.tree-hidden{
    display: none;
}
.tree-rotate{
    transform: rotate(90deg);
}
.tree-selected{
    background-color: #d5e8fc;
}
.tree-label{
    display: flex;
    align-items: center;
    position: relative;
}
.tree-checkbox{
    line-height: 0;
    margin: 0 3px;
}
.tree-loading{
    font-size: 13px;
    left: -5px;
    position: absolute;
    top: -7px;
    animation: circle 1s linear infinite;
}

@keyframes circle
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
