.tree-children{
    position: relative;
    padding-left: 23px;
}
.tree-font{
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
.tree-title{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.2s;
   img{
        margin-right: 4px;
   }
}
.tree-title:not(.tree-selected):hover{
    background-color: #eaf4fe;
}
.tree-direction{
    position: absolute;
    left: 13px;
    font-size: 16px;
}
.tree-children li{
    margin: 6px 0px 3px 0px;
}
.tree-hidden{
    display: none;
}
.tree-rotate{
    transform: rotate(90deg);
}
.tree-selected{
    background-color: #d5e8fc;
}
.tree-label{
    display: flex;
    align-items: center;
}
.tree-checkbox{
    line-height: 0;
    margin: 0 3px;
}