.tabview.tab{
    position: relative;
    display: flex;
    padding: 0 20px;
    align-items: center;
}
.tabview-scroll-container{
    display: flex;
    overflow: hidden;
}
.tabview-ul{
    display: flex;
    border-bottom: 1px solid rgb(220, 222, 226);
    align-items: center;
}
.tabview-li{
    margin-right: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tabview-a{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 16px 4px 16px;
    display: inline-block;
    border: 1px solid rgb(220, 222, 226);
    border-bottom: 0;
    background-color: rgb(248, 248, 249);
    color: #515a6e;
    white-space: nowrap;
}
.tabview-selected .tabview-a{
    position: relative;
    background-color: rgb(255, 255, 255);
    color:#2d8cf0;
    border-color: #2d8cf0;
}
.tabview-selected:not(.tabview-selected) .tabview-a:hover{
    color: #57a3f3;
    background-color: rgb(248, 248, 249);
}
/* .tabview-selected .tabview-a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    bottom: -1px;
    left: 0;
} */
.tabview.view{
    padding: 0;
    position: relative;
    overflow: hidden;
}
.view-container{
    margin-top: 5px;
    display: flex;
}
.view-animation{
    transition: transform 0.3s linear;
}
.view-container > *{
    display: block;
    width: 100%;
    flex-shrink: 0;
}
.go-front{
    transform: translateX(-200%)
}
.go-front-animation{
    transform: translateX(100%);
}
.go-back-animation{
    transform: translateX(-100%);
}
.tabview-scroll{
    position: absolute;
    cursor:pointer;
    z-index: 1;
}
.tabview-scroll:hover{
    color:#2d8cf0;
}
.scroll-left{
    left: 0;
    margin-left: 5px;
}
.scroll-right{
    right: 0;
    margin-right: 5px;
}