.tabview-ul{
    display: flex;
    border-bottom: 1px solid rgb(220, 222, 226);
}
.tabview-li{
    margin-right: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tabview-a{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 16px 4px 16px;
    display: inline-block;
    border: 1px solid rgb(220, 222, 226);
    border-bottom: 0;
    background-color: rgb(248, 248, 249);
    color: #515a6e;
}
.tabview-selected .tabview-a{
    position: relative;
    background-color: rgb(255, 255, 255);
    color:#2d8cf0;
    border-color: #2d8cf0;
}
.tabview-selected:not(.tabview-selected) .tabview-a:hover{
    color: #57a3f3;
    background-color: rgb(248, 248, 249);
}
.tabview-selected .tabview-a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    bottom: -1px;
    left: 0;
}
.tabview.view{
    padding: 0;
    position: relative;
    overflow-x:hidden;  
}

.translate-enter{
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
}
.translate-enter-active{
    top:0;
    width: 100%;
    position: absolute;
    animation: enter-in 5s linear;
}
@keyframes enter-in{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}
.translate-leave{
}
.translate-leave-active{
    animation: leave-out 5s linear;
}
@keyframes leave-out{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%)
    }
}

.slide-fade-enter-active {
    transition: all 4.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 4.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }