
body.black .head{
    
}
body.black li{
    list-style-type: none;
}
body.black .left-bar{
    background-color: #20222A;
}
body.black .left-bar a{
    color:rgba(255, 255, 255, .7);
    font-size: 14px;
    transition:color 0.3s;
}
body.black .left-bar a:hover{
    color:#fff;
}
body.black .second-menu-ul{
    background-color: rgba(0,0,0,.3);
}
