$a_color:rgba(255, 255, 255, .7);
$a_hover_color:#fff;
$left_bar_color:#20222A;
$left_bar_child_color:rgba(0,0,0,.3);

body.black{
    li{
        list-style-type: none;
    }
    .left-bar{
        background-color: $left_bar_color;
        a{
            color: $a_color;
            font-size: 14px;
            transition:color 0.3s;
        }
        a:hover{
            color:$a_hover_color;
        }
    }
    .second-menu-ul{
        background-color: $left_bar_child_color;
    }
}